<!--
<%= link_to "log in", new_user_session_path %>
<%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
<%= @countries[rand(0...235)].name %>
<% currency = @currencies[rand(0..118)] %>
<br>
<%= currency.name %>
(<%= currency.symbol %>)
-->
<div class="container" data-controller="progress-bar">

  <%= render "shared/navbar" %>
  <%= render "shared/landing-page-1" %>
  <%= render "shared/landing-page-2" %>
  <%= render "shared/landing-page-2" %>


  <!-- Progress Bar -->
    <div class="footer-progress">
      <div class="progress-container">
        <div class="progress-bar" id="progressBar">
        </div>
      </div>
    </div>
  <!-- -->
</div>
