<div class="container">
  <div class="navbar">
    <%= link_to root_path do %>
      <p id="app_name">NOMAD</p>
    <% end %>
  </div>
  <div class="devise-container">
  <div class="sign-log-container">
    <h2 class="log-sign-btn" id="log-sign-selected">Log In</h2>
    <h2 class="log-sign-btn">Sign Up</h2>
  </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class:"label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"label-field", placeholder: "example@gmail.com" %>
      </div>

      <div class="field">
        <%= f.label :password, class:"label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"label-field", placeholder: "***************" %>
      </div>

      <%= render "devise/shared/links" %>

      <div class="my-3">
        <% if devise_mapping.rememberable? %>
          <div class="field remember-container">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class:"label-remember" %>
          </div>
        <% end %>
      </div>


      <div class="actions d-flex justify-content-center my-3">
        <%= f.submit "Submit", class:"orange-btn" %>
      </div>
    <% end %>

  </div>
</div>
